  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap');

  * {
    font-family: 'Work Sans', sans-serif;
  }

  .header {
    padding: 50px 140px;
  }
/* nav-section */
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-bar img {
    width: 45px;
    height: 50px;
    margin-right: 15px;
  }

  .nav-title {
    display: flex;
    align-items: center;
  }

  .section-title {
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
  }
  nav > ul{
    display: flex;
  }
  nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 400;
  }
  nav li a{
    text-decoration: none;
    color: #424247;
  }
  .primary-color{
    color: #FF5400;
  }